/* layout */
body {
    border-top: 30px solid rgb(248, 193, 70);
    color: rgb(79, 79, 79);
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}

article {
    display: flex;
    flex-direction: column;
    margin: 60px;
    width: 210mm;
}

main {
    display: flex;
    margin-top: 30px;
}

main aside {
    flex-basis: 35%;
}

main .timeline ul li ul {
    margin-top: 10px;
    list-style: disc;
    padding-left: 20px;
}

main .timeline ul li ul li {
    display: list-item;
    margin-bottom: 5px;
}

time {
    min-width: 20%;
    margin-right: 20px;
}

main aside section {
    margin-bottom: 30px;
}

main aside ul {
    padding-left: 20px;
}

main aside ul li {
    margin-bottom: 15px;
}

footer div {
    display: flex;
    width: 100%;
}

/* text */
h4 {
    color: black;
    font-size: 13pt;
    text-transform: uppercase;
}

h5 {
    color: black;
    font-size: 10pt;
    margin: 0 0 20px 0;
}

p {
    font-size: 9pt;
}

a {
    color: black;
    text-decoration: none;
}

header h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 34pt;
    margin: 0;
    text-transform: uppercase;
}

header h3 {
    border-bottom: 1px solid rgb(248, 193, 70);
    font-size: 11pt;
    font-weight: 400;
    margin: 10px 0 30px 0;
    padding-bottom: 30px;
    text-transform: uppercase;
}

ul {
    font-size: 9pt;
}

/* sections */
.summary {
    display: flex;
    align-items: center;
}

.headshot {
    height: 150px;
    margin-right: 60px;
}

.profile {
    flex-basis: 50%;
}

/* timeline */
.timeline {
    border-left: 1px solid black;
    margin: 0 0 0 30px;
    padding: 20px 0 0 30px;
    list-style: none;
}

.timeline ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeline li {
    margin-bottom: 20px;
    position: relative;
}

.timeline li:before {
    content: ' ';
    background: rgb(248, 193, 70);
    border: 1px solid black;
    border-radius: 5px;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -36px;
    top: 2px;
}

.timeline li li {
    margin-bottom: 0;
}

.timeline li li:before {
    content: none;
}

.timeline li h5 {
    margin-bottom: 10px;
}

.timeline li p {
    margin: 0;
}

section.timeline {
    padding-top: 0
}

section.timeline li {
    display: flex;
}

section.timeline li h5 {
    margin: 0;
    padding: 0;
}

section.timeline li p {
    margin: 0;
    padding: 0;
}

/* icons */
.icon {
    background:rgb(248, 193, 70);
    border: 1px solid rgb(79, 79, 79);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
